body {
  font-family: "robotFontRegular", sans-serif;
  cursor: default;
}
header {
  background-image: url(/static/img/BG.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 4rem;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}
#typed2::before {
  content: "";
  animation: animate infinite 3s;
  padding-left: 10px;
}

@keyframes animate {
  0% {
    content: "good";
  }

  50% {
    content: "for";
  }

  75% {
    content: " Geeks ";
  }
}

.navbar {
  padding: 1em 0.8em;
  padding-top: 0.5em;
  background-color: rgba(255, 255, 255, 0) !important;
  z-index: 1;
}
.dashnb {
  background-color: #db6d13 !important;
}

.btn {
  border: 0;
  margin: 8px;
  padding: 6px 12px;
  border-radius: 2px;
  border-left: 2px solid #fff;
}

.vertical {
  border-left: 6px solid rgb(255, 255, 255);
  height: 45px;
  left: 50%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 100px;
}

.home .main-wrapper {
  background-color: #fff;
  min-height: 100vh;
  color: #666;
  font-size: 0.9rem;
}
.home .main-title {
  font-weight: bold;
  color: #e87d1e;
  padding: 20px 0;
  font-size: 1.8rem;
}
.img {
  vertical-align: middle;
  border-style: none;
}
.track_plant {
  position: relative;
}
.header .track_plant_header {
  height: 19em;
  width: 44em;
  top: -25%;
  right: 20%;
}

header .title_header {
  margin-bottom: 30px;
}
.title_header {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family: "robotFontRegular";
  margin-bottom: 70px;
  margin-top: 0;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.header .header-btns .btn {
  font-size: 1.3rem;
}

.header .header-video {
  font-size: 1.2rem;
  padding: 5px 12px;
  border-width: 3px;
}

.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.1rem;
  width: 100%;
}

header.icon_play {
  height: 35px;

  width: auto;
}

.back-to-top img {
  height: 10px;
  transform: rotate(180deg);
  vertical-align: bottom;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(232, 30, 30, 0.89);
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: 0.5s;
  z-index: 200;
}

.links-slider-wrapper {
  margin-top: 0 !important;
}

.links-slider-wrapper .container {
  max-width: 1140px;
}

.links-slider .link-block {
  padding: 0 20px;
  outline: none;
  text-align: center;
}
.arraow_down {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 13px);
  width: 26px;
  cursor: pointer;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.links-slider .slick-slide {
  height: auto;
}
.links-slider img {
  height: 50px;
  display: inline-block;
}
.links-slider .title {
  color: #e87d1e;
  font-size: 1.2rem;
  margin-left: 15px;
}

.links-slider .text {
  padding: 10px 0;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
#title_section_signup {
  position: relative;
}
#title_section_signup .show-more {
  position: absolute;
  font-size: 0.8rem;
  color: #e87d1e;
  cursor: pointer;
  bottom: 0;
}

.gif_signup_line {
  height: 400px;
  position: absolute;
  left: 580px;
}
.gif_signup {
  position: relative;
  z-index: 1;
}
.text_section {
  width: 100%;
}
header .header-btns .btn.join {
  padding: 8px 12px;
}
section.addresses,
section.track-shipments,
section.faqs-shipping,
section.download-apps,
footer .links-section {
  background-color: #fbfbfb;
}
section.addresses .title_full_section {
  width: auto;
  float: none;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  border-bottom: 3px solid #e87d1e;
}
.title_full_section {
  color: #000;
  margin-left: -0.4em;
  font-weight: bold;
  font-family: robotFontBold;
}
.addresses-slider {
  position: relative;
  z-index: 4;
  margin-top: 50px;
}

.slick-initialized .slick-slide {
  display: block;
}

.addresses-slider .address-wrapper {
  padding: 20px 30px;
  vertical-align: text-top;
  display: grid;
}
.addresses-slider .address-name {
  text-align: center;
  margin-top: 1em;
  font-size: 0.9em;
}
a {
  text-decoration: none;
  color: #666;
}

.gif_addresses_line {
  height: 650px;
  position: relative;
  left: 570px;
  top: 45px;
}

.btn_singup_section {
  float: right;
  background-color: #e87d1e;
  border: none;
  margin-right: 0.77em;
  margin-top: 0em;
  position: relative;
  z-index: 1;
}

.title_text_section {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #e87d1e;
  display: inline-block;
}

.error-message {
  background: rgba(250, 119, 81, 0.08);
  border-color: #fa7751;
}
.error-message,
.success-message {
  display: inline-block;
  color: #333;
  padding: 8px;
  margin: 8px 0 16px;
  border-left: 2px solid transparent;
  font-size: 0.85rem;
  display: block;
  width: 100%;
  text-align: left;
}
section.contact-us input.form-control {
  padding-left: 10px;
}
.input_send_email {
  margin-top: 1em;
  border: none;
  border-bottom: 2px solid #004c70;
  width: 90%;
  border-radius: 0em;
  padding-left: 0em;
}
.required-note {
  color: #e87d1e;
  font-size: 0.8rem;
  display: none;
}
section.contact-us .send-btn {
  background-color: #e87d1e;
  padding: 10px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 4%;
  margin-top: 20px;
}

.title_content_info {
  color: #000;
  font-size: 1.3em;
  border-bottom: 3px solid #e87d1e;
  display: inline-block;
  font-weight: bold;
}
.block_info_contact {
  margin-bottom: 15px;
}

.block_info_contact img {
  height: 30px;
}

.block_info_send_email .bg-img {
  position: absolute;
  right: -0em;
  /* top: 2em; */
  /* z-index: -1; */
}

.block_info_send_email .bg-img img {
  height: 235px;
  width: auto;
  margin-left: 0rem;
  margin-top: -10rem;
}

.social_media {
  margin-left: 3em;
}
